body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.bots {
  text-align: center;
  margin: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
}

.bot-collection,
.your-bot-army {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bot-collection h2,
.your-bot-army h2 {
  color: #333;
}

div > div {
  margin-bottom: 10px;
}

button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}
#delete-button {
  background-color: red;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}
